.form__item {
  background-color: #000000;
  width: 358px;
  height: 14px;
  border: 0;
  border-bottom: 2px solid #cccccc;
  padding: 14px 0 8px 0;
  margin: 9px auto;
  font-size: 14px;
  line-height: 16.94px;
  color: #cccccc;
}

.form__item:focus {
  outline: none;
}

.form__item::placeholder {
  color: #cccccc;
}

@media screen and (max-width: 767px) {
  .form__item {
    max-width: 260px;
  }
}